snippet fix
	FIX: $0

snippet bug
	BUG: $0

snippet issue
	ISSUE: $0

snippet todo
	TODO: $0

snippet hack
	HACK: $0

snippet warn
	WARN: $0

snippet perf
	PERF: $0

snippet note
	NOTE: $0

snippet info
	INFO: $0

snippet memo
	MEMO: $0

snippet test
	TEST: $0

snippet watchme
	WATCHME: $0
