snippet pack1
\usepackage{graphics}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{ascmac}
\usepackage{txfonts}
\usepackage{url}
\usepackage{bm}
\usepackage{booktabs}
\usepackage{algorithm}
\usepackage{algpseudocode}
\usepackage{docmute}
\usepackage{subfigure}
\usepackage{tikz}
\usetikzlibrary{calc}
\usetikzlibrary{intersections}
\usetikzlibrary{shapes}
${0}
endsnippet


snippet     margin
\usepackage[top=${1}in, bottom=${2}in, left=${3}in, right=${4}in]{geometry}
${0:}
endsnippet
